
@{
    ViewData["Title"] = "Index";
}
<br />
<br />


<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">Nuevo Rol</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border text-center">

        <tr class="table-info ">
            <th>
                Nombre
            </th>
            <th>

            </th>
            <th class="text-center">
                Acción
            </th>
        </tr>

        @foreach (var k in ViewBag.Roles)
        {
            <tr>
                <td>
                    @k.Name
                </td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@k.Id">Editar</a>
                        @*<a asp-action="Details" class="btn btn-info" asp-route-id="@k.Id">Detalles</a>*@
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@k.Id">Eliminar</a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //Guardar
            var guardar = '@TempData["guardar"]'
            if (guardar != '') {
                alertify.success(guardar);
            }

            //Editar

            var editar = '@TempData["editar"]'
            if (editar != '') {
                alertify.success(editar);
            }

            //Eliminar
            var eliminar = '@TempData["eliminar"]'
            if (eliminar != '') {
                alertify.error(eliminar);
            }


        })
    </script>

}